<h3 class="card-header my-3">Filling out a new Grade for <strong><%= current_user.school.try(:name) %></strong>.</h3>

<%= form_with(model: grade, local: true) do |form| %>
 <% if grade.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

     <ul>
     <% grade.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

 <div class="form-group">
   <%= form.label :name %>
   <%= form.text_field :name, class: 'form-control' %>
 </div>

 <div class="form-group">
   <%= form.label :school_id %>
   <%= form.text_field :school, value: current_user.school.try(:name), class: 'form-control', :disabled => true  %>   
 </div>


 <div class="form-group">
   <%= form.submit 'Add New Grade', class: 'btn btn-primary my-2' %>
 </div>
<% end %>