<h2 class="card-header my-5" >Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <!--role selector-->
  <div class="form-group">
    <%= f.label :role %>
    <%= f.select :role, options_for_select(User.roles.reject { |role| role == 'superadmin' }.keys, class: 'form-control'),
    {},{class:"form-control m-b", style:"text-transform: capitalize"} %>
  </div>

  <!--school district-->
  <div class="form-group">
    <%= f.label :school_district %>
    <%= f.collection_select(:schooldistrict_id, Schooldistrict.all, :id, :name,
      {:prompt => 'Select school district'}, class: 'form-control', :selected => @user.schooldistrict_id)%>
    <%= f.label 'School district not shown?' %>
    <%= link_to 'Add it!', new_schooldistrict_path %>
  </div>

  <!--school-->
  <div class="form-group">
    <%= f.label :school %>
    <%= f.collection_select(:school_id, School.all, :id, :name,
      {:prompt => 'Select school'}, class: 'form-control', :selected => @user.school_id)%>
    <%= f.label 'School not shown?' %>
    <%= link_to 'Add it!', new_school_path %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>
