<h1>School Districts</h1>

<table class="table table-responsive-md">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>City</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schooldistricts.each do |schooldistrict| %>
      <tr>
        <td><%= schooldistrict.name %></td>
        <td><%= schooldistrict.state %></td>
        <td><%= schooldistrict.city %></td>
        <td><%= schooldistrict.zip %></td>
        <td><%= link_to 'Show', schooldistrict %></td>
        <td><%= link_to 'Edit', edit_schooldistrict_path(schooldistrict) %></td>
        <td><%= link_to 'Destroy', schooldistrict, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School District', new_schooldistrict_path %>
