<%= form_with(model: studentdatum, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control text-uppercase' %>
  </div>

  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_field :text, class: 'form-control' %>
  </div>


    <div class="form-group">
      <% if current_user.role == 'admin' %>
      <%= form.collection_select(:classroom_id, Classroom.where(school_id: current_user.school_id), :id, :subject, {:prompt => 'Select Classroom'}, class: 'form-control', :selected => @studentdatum.classroom_id)%>
    <% elsif current_user.role == 'teacher' %>
      <%= form.collection_select(:classroom_id, Classroom.where(user_id: current_user.id), :id, :subject, {:prompt => 'Select Classroom'}, class: 'form-control', :selected => @studentdatum.classroom_id)%>
    <% end %>  
  </div>



  <div class="form-group">
    <%= form.label :student %>
    <%= form.collection_select(:student_id, Student.all, :id, :full_name, {:prompt => 'Select Student'}, class: 'form-control', :selected => @studentdatum.student_id)%>
  </div>

  <div class="form-group">
    <%= form.submit 'Add New Student Data', class: 'btn btn-primary' %>
  </div>
<% end %>

<% content_for :js do %>
  <script type="text/javascript">
      $(document).ready(function() {

        $('studentdatum_classroom_id').select2({
          ajax: {
            url: "<%= studentdata_path(format: 'json') %>",
            dataType: 'json',
            results: function(data, page) {
              return { results: $.map( data, function(person, i) {
                return { id: person.id, text: person.name }
              } ) }
            }
          }
        })

      })
  </script>
<% end %>
